.App {
  text-align: center;
}

p {
  font-size: 15px;
  height: 60px;
  line-height: 4;
}

h5 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  width: 20rem;
  padding: .3rem;
  border: 3px solid red;
  background: navy;
  color: #FFF;
  font-size: 20px;
  margin-bottom: 1px;
}

